body {
  margin: 0;
  /* padding: 48px 0; */
  font-family: "Figtree", sans-serif;
  font-size: 1.2rem;
  line-height: 1.6rem;
  background-image: linear-gradient(45deg, rgb(5, 94, 5), #111);
  min-height: 100vh;
}

.Qheader {
  min-height: 10vh;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  /* color: white; */
}

.App-link {
  color: #61dafb;
}

/* @media only screen and (max-width: 600px) { */
.title {
  margin-top: 10px;
  font-size: larger 2em;
  font: bold arial, sans-serif;
  color: rgb(230, 220, 220);
  text-shadow: 4px 3px 0px #333, 3px 0px 0px #333, 2px 0px 0px #333,
    1px 0px 0px #333, 3px 0px 15px rgba(0, 0, 0, 0.8), 0px 4px 0px #444,
    0px 3px 0px #444, 0px 2px 0px #444, 0px 1px 0px #444;
  text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
  margin-left: 0px;
  text-align: center;
}

.buttonSubmit {
  width: 80%;
  height: auto;
  font-family: "Roboto", sans-serif;
  font-size: 1.1em;
  align-items: center;
  /* text-transform: uppercase; */
  /* letter-spacing: 2.5px; */
  font-weight: 500;
  color: rgb(57, 50, 3);
  background-color: #ffffff;
  border: thin double #32a1ce;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  /* cursor: pointer; */
  /* outline: none; */

  padding: 5px;
  margin: 5px;
}

.buttonSubmit:hover {
  background-color: #2e50e5;
  box-shadow: 0px 15px 20px rgba(18, 39, 97, 0.4);
  color: #fff;
  transform: translateY(7px);
}

.cardBody {
  border-radius: 18px;
  width: auto;
  font-size: 0.9em;
  /* font-weight: bold; */
  font-family: "Roboto", sans-serif;
  /* color: #1b1c1f; */
  /* background-color: #eff1e6a1; */
  color: rgb(57, 50, 3);
  background-color: #ffffff;
  padding: 0.4em;
  margin-right: 1em;
  margin-top: 1em;
  margin-left: 1em;
  /* min-height: 100px; */
  box-shadow: 0.5em 0.5em 0.5em rgb(170, 175, 224);
}

.cardBody:hover {
  background-color: #ffffff;
  /* box-shadow: 3px 3px red, -1em 0 0.4em olive; */
  transform: translateY(-7px);
}

/* .joketext {
  margin-top: 20px;
  font: bold 20px arial, sans-serif;
  color: rgb(230, 220, 220);
  text-shadow: 4px 3px 0px #333, 3px 0px 0px #333, 2px 0px 0px #333,
    1px 0px 0px #333, 3px 0px 15px rgba(0, 0, 0, 0.8), 0px 4px 0px #444,
    0px 3px 0px #444, 0px 2px 0px #444, 0px 1px 0px #444;
  text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
  margin-left: 10px;
} */

/*
.stopoverflow {
  word-wrap: break-word;
}

.sectionContainer {
  margin-top: 32;
}
.sectionTitle {
  font-size: 24;
  font-weight: 600;
}
 .sectionDescription {
  margin-top: 8;
  font-size: 18;
  font-weight: 400;
} */
.resultcontainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  font-weight: bold;
  color: #1b1c1f;
}
/* .headingoutome {
  font-size: 16px;
  font-weight: bold;
  color: #1b1c1f;
  text-align: center;
} */
.selectDropDownStyle {
  font-size: 0.9em;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: #1b1c1f;
  text-align: center;
  padding: 0;
}

/* .appheadercontainer {
 
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
 
  font-size: 0.8em;
  
  color: #1b1c1f;
} */
/* .appheadercitytext {
 
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 0.9em;
  
  color: #1b1c1f;
} 
*/
.appheadermeaningtext {
  margin-top: 10px;
  text-align: center;
  font-size: 1.2em;
  font-family: "Roboto", sans-serif;
  background: -webkit-linear-gradient(#eee, rgb(178, 183, 22));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
